* {
  box-sizing: border-box;
}

body {
  font-family: "raleway";
  text-decoration: none;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.homedog {
  width: auto;
  height: 50px;
}

nav {
  height: 50px;
  background-color: #92E0E5;
}

ul {
  list-style-type: none;
  float:right;
  padding-right: 15px
}

li {
  display:inline;
}

img {
  border-radius: 50%;
  border-color: #3F8DA7;
  border-width: thin;
}

.maindog {
  margin: auto;
  width: 100%;
  text-align: center;
  background-image: url("images/park.jpg");
}


article.subsection{
  display: inline-block;
  width: 33.333%;
  margin-right: -4px;
  text-align: center;

}

article img {
  width: 150px;
}


footer {
  text-align: center;
  background-color: #3F8DA7;
}

footer img {
  border-radius: 0;
  margin-right: 25px;
}
.maindog h1 {
  margin: 0;
}
